	<table class="table">
	  <thead class="table-primary">
	    <tr>
	      <th scope="col">Task Name</th>
	      <th scope="col">Task Desc</th>
	      <th scope="col">Symbol</th>
	      <th scope="col">Principal</th>
	      <th scope="col">End Time</th>
	      <th scope="col">operat</th>
	    </tr>
	  </thead>
	  <tbody>

	  	<% @tasks.each do |task| %>

		  	<tr>
		      <td><%= task.title %></td>
		      <td><%= task.desc %></td>
		      <td><a href="" class="badge badge-<%= task.color %>"><%= task.color %></a></td>
		      <td><%= task.session.user.name %></td>
		      <td><%= task.end %></td>
		      <td><%= link_to "完成任务",finish_task_path(task.id), class: 'btn btn-primary' %></td>
		    </tr>

	  	<% end %>

	  </tbody>
	</table>