
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_with(url: tasks_path, local: true) do |task_form| %>

          <input type="hidden" name="tenant_id" id="tenant_id" value="<%= @tenant.id %>" >

          <div class="form-group">
            <label class="col-form-label">任务标题:</label>
            <%= task_form.text_field :title , class:"form-control" %>
          </div>

          <div class="form-group">
            <label class="col-form-label">任务描述:</label>
            <%= task_form.text_area :desc , class:"form-control" %>
          </div>

          <div class="form-group">
            <label class="col-form-label">任务标记:</label>
            <%= task_form.select :color, ["primary", "danger", "warning", "info", "light"], class:"form-control" %>
          </div>

          <div class="form-group">
            <label class="col-form-label">开始时间:</label>
            <input type="date" name="start" id="start">
          </div>

          <div class="form-group">
            <label class="col-form-label">结束时间:</label>
            <input type="date" name="end" id="end">
          </div>

          <div class="form-group">
            <label class="col-form-label">负责人:</label>
            <%= task_form.select :session_id, @sessions, class:"form-control" %>
          </div>

          <div class="form-group">
            <center>
              <%= task_form.submit 'Submit', class: "btn btn-primary" %>
            </center>
          </div>

        <% end %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>